<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <body>
	    <ui:composition>

			<nav class="navbar navbar-default navbar-fixed-top">
				<h:form id="growlForm">
					<p:growl id="growl-fatal" showDetail="true" sticky="false" rendered="#{facesContext.maximumSeverity.ordinal eq 3}"/>
					<p:growl id="growl-error" showDetail="true" sticky="false" rendered="#{facesContext.maximumSeverity.ordinal eq 2}"/>
					<p:growl id="growl-warning" showDetail="true" sticky="false" rendered="#{facesContext.maximumSeverity.ordinal eq 1}"/>
					<p:growl id="growl-success" showDetail="true" sticky="false" rendered="#{facesContext.maximumSeverity.ordinal eq 0}"/>
				</h:form>
			</nav>
	    </ui:composition>
    </body>
</html>