<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:head>
	    <title>Stocks</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta charset="UTF-8" />
	    <title>Travel</title>
	
	    <link href="#{request.contextPath}/css/bootstrap.min.css" rel="stylesheet"/>
	
	    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'/>
	
	    <link href="#{request.contextPath}/css/font-awesome.min.css" rel="stylesheet"/>

	    <link href="#{request.contextPath}/css/default.css" rel="stylesheet"/>
	    
	    <link href="#{request.contextPath}/css/ddp.css" rel="stylesheet"/>
	
	    <h:outputScript library="primefaces" name="jquery/jquery.js" target="head" />
		<h:outputScript library="primefaces" name="jquery/jquery-plugins.js" target="head" />
	 	<script src="#{request.contextPath}/js/bootstrap.min.js"></script>
	 	
	 	<ui:insert name="style" >
		</ui:insert>
	</h:head>

    <h:body>
    
		<div id="page">
	
		    <div id="header">
				<ui:insert name="header" >
				  <ui:include src="/template/header.xhtml" />
				</ui:insert>
		    </div>
	
		    <div id="content">
		    	<div class="jumbotron text-center">
					<h2 class="ddp-title">
					        Search <span style="color: white">For Stocks</span>
					 </h2>

				    <h3 style="float: left; color: black;margin: 20px 0px 20px 10px;text-align: center;">
				        <h:outputText type="text" id="firstname" name="j_firstname"
				                      value="Hoşgeldin, #{user.firstName}"
				                      rendered="#{not empty user}"/>
				        <h:outputText value=" " escape="false"/>
				        <h:outputText type="text" id="lastname" name="j_lastname"
				                      value="#{user.lastName}"
				                      rendered="#{not empty user}"/>
				    </h3>
				    <br/>
				</div>
				
				<ui:insert name="content" >
			 	  <ui:include src="/template/content.xhtml" />
			   	</ui:insert>
			   	
			   	<div id="push"></div>
		    </div>
		    
		</div>
	
	    <div id="footer" class="text-center">
	    	<ui:insert name="footer" >
	    	  <ui:include src="/template/footer.xhtml" />
	    	</ui:insert>
    	</div>

    </h:body>
</html>