<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>

    	<ui:composition template="/template/layout.xhtml">
    	
    		<ui:define name="style">
    			<style>
    				.jumbotron {
						    padding: 48px 0px !important;
						}
    			</style>
    		</ui:define>
    	
			<ui:define name="content">
			    <h3 style="color: black; text-align: center;border-bottom: 2px #eee solid">
					Sorry, page couldn't be found!
				</h3>
    		</ui:define>
    		
    	</ui:composition>

    </h:body>

</html>