<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:body>

    <ui:composition template="template/layout.xhtml">

        <ui:define name="style">
            <style>
                .jumbotron {
                    padding: 48px 0px !important;
                }
                .btn {
                    margin-top: 8px;
                }
            </style>
        </ui:define>

        <ui:define name="content">
            <p:dataTable id="stockTable" value="#{searchController.stockList}" var="stock" class="tableNoWrap"
                         style="max-width:30%;margin:0 auto;">

                <p:column headerText="Id">
                    <h:outputText value="#{stock.id}" />
                </p:column>

                <p:column headerText="Name">
                    <h:outputText value="#{stock.name}" />
                </p:column>

                <p:column headerText="Current Price">
                    <h:outputText value="#{stock.currentPrice}" />
                </p:column>

                <p:column headerText="Last Update">
                    <h:outputText value="#{stock.lastUpdate}" />
                </p:column>

            </p:dataTable>

        </ui:define>

    </ui:composition>

</h:body>

</html>