<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">


<h:body>

    <ui:composition template="template/layout.xhtml">

        <ui:define name="style">
            <style>
                .jumbotron {
                    padding: 48px 0px !important;
                }
                .btn {
                    margin-top: 8px;
                }
            </style>
        </ui:define>

        <ui:define name="content">

            <h:form id="searchForm" class="box-shadow text-center" action="/j_spring_security_check" method="post">
                <p:dataTable id="metricsTable" value="#{statisticsController.serverMetrics}" rows="2" class="tableNoWrap"
                             var="metric" style="max-width:60%;margin:0 auto;">

                    <p:column headerText="Status2xx">
                        <h:outputText value="#{metric.status2xx}" />
                    </p:column>
                    <p:column headerText="Status4xx">
                        <h:outputText value="#{metric.status4xx}" />
                    </p:column>
                    <p:column headerText="Status5xx">
                        <h:outputText value="#{metric.status5xx}" />
                    </p:column>
                    <p:column headerText="MaxTimOfAllRequests">
                        <h:outputText value="#{metric.maxTimOfAllRequests}" />
                    </p:column>
                    <p:column headerText="AvgTimeOfAllRequests">
                        <h:outputText value="#{metric.avgTimeOfAllRequests}" />
                    </p:column>
                    <p:column headerText="NumberOfTotalRequests">
                        <h:outputText value="#{metric.numberOfTotalRequests}" />
                    </p:column>
                    <p:column headerText="MinTimOfAllRequests">
                        <h:outputText value="#{metric.minTimOfAllRequests}" />
                    </p:column>
                </p:dataTable>
            </h:form>


        </ui:define>

    </ui:composition>

</h:body>

</html>