<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <body>
	    <ui:composition>
		

		
		<div class="container">
        	<p class="muted credit codenamecoder-normal-normal">

			</p>
      	</div>		
		
		<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
		 
		<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
		    <p:graphicImage value="/images/loading.gif" />
		</p:dialog>		

		<script>
		    $(document).ready(function () {
		    	var path = window.location.pathname;


			    }
		    });
		</script>
		
	    </ui:composition>
    </body>
</html>