html,
body {
	height: 100%;
}

#page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
}

#push, #footer {
  	height: 40px;
}

#footer {
  	background-color: #f5f5f5;
}

.tooltipContainer, .tooltipContent{
	background: #FBFB8A !important;
    border-radius: 5px;
    color: #000;
    border: none !important;
}

.tooltipContainer .ui-overlaypanel-content{
	padding: 0px !important;
}

body, page, label, span, .ui-button-text, input, td, p{
	font-family: Tahoma,Verdana,Segoe,sans-serif !important;
}


.tooltipContent{
	font-size: 14px !important;
	font-family: Tahoma,Verdana,Segoe,sans-serif !important;
	font-weight: normal !important;
	font-style: normal !important;		
}

.ddp-title span{
	font-size: 40px !important;
	font-family: CodenameCoder4F !important;
}

.codenamecoder-normal-normal, h1, h2, h3, h4, h5 { 
	font-family: CodenameCoder4F !important;
	font-weight: normal;
	font-style: normal;
}

.tableFixedLayout td{
	width: auto;	
}

.tableFixedLayout{
	table-layout: fixed;
	width: 100%;	
}

.tableDdpForm tr{
	background: transparent !important;	
}

.tableNoWrap td, th{
	white-space: nowrap;
}

.tableNoBorder td, th, tr{
	padding: 0px !important;
	margin: 0px !important;
	border: none !important;
}

.tableNoBorder{
	border: none;
}

.form-title{
	font-size: 20px; 
	color: black; 
	text-align: center;
	border-bottom: 2px #eee solid;
}

.ddp-title{
	font-size: 40px; 
	color: black; 
	text-align: center;
	border-bottom: 2px #eee solid;
}

@media (max-width: 768px) {
	.ddp-title span{
	  	font-size: 30px !important;
	}
	.form-title{
		font-size: 18px;
	}
	.col-sm-4 {
		text-align: center;
		margin: 25px 0;
	} 
	.container .credit{
		font-size: 10px !important;
	}
	#recaptchaContainer, #rc-imageselect {
		transform:scale(0.85);
		-webkit-transform:scale(0.85);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}  
}

.container {
  width: auto;
  max-width: 680px;
  font-size: 18px;
}

.container .credit {
  margin: 10px 0;
  white-space: nowrap;
  font-size: 12px;
}
      
.ui-growl {
	z-index:11111 !important;
}

.container-fluid {
    padding: 60px 50px;
}

.bg-grey {
    background-color: #f6f6f6;
}

.logo-small {
    color: #42AFDC;
    font-size: 50px;
}

.logo {
    color: #42AFDC;
    font-size: 200px;
}
        
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.jumbotron {
    background-color: #42AFDC;
    color: #ffffff;
    padding: 125px 25px;
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

#ddpNavBar li > a{
	font-family: CodenameCoder4F;
	font-weight: normal;
	font-style: normal;	
	font-size: 14px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.navbar {
    margin-bottom: 0;
    background-color: #fff;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

#searchGrid td, #searchGrid th {
    padding: 5px
}

.panel-col {
    padding-right: 5px;
}

.odd-row > td {
    padding-bottom: 5px;
}

.even-row > td {
    padding-bottom: 20px;
}

.ui-datatable table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}

.ddp-form {
	width: 70%;
    max-width: 330px;
    padding: 15px 15px;
    margin: 0 auto;
}

.ddp-form .ddp-form-heading,
.ddp-form .checkbox {
    margin-bottom: 10px;
}

.ddp-form .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px !important;
}

.ddp-form .form-control:focus {
    z-index: 2;
}

.ddp-form input[type="text"] {
    margin-bottom: -1px;
}

.ddp-form input[type="password"] {
    margin-bottom: 10px;
}

.box-shadow {
    -webkit-box-shadow: 0px 0px 6px 1px #666;
    -moz-box-shadow: 0px 0px 6px 1px #666;
    box-shadow: 0px 0px 6px 1px #666;
    zoom: 1;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: rgb(250, 250, 250);
}

.ui-dialog-buttonpane{
 text-align: center !important;
}

div[id="growlForm:growl-fatal_container"] > div {
    background-color: red !important;
}

div[id="growlForm:growl-error_container"] > div {
    background-color: red !important;
}

div[id="growlForm:growl-warning_container"] > div{
    background-color: orange !important;
}

div[id="growlForm:growl-success_container"] > div{
    background-color: green !important;
}

.ui-growl-image-info ~ .ui-growl-message {
    color:#fff;
}
.ui-growl-image-error ~ .ui-growl-message {
    color:#fff;
}
.ui-growl-image-warn~ .ui-growl-message {
    color:#fff;
}
.ui-growl-image-fatal~ .ui-growl-message {
    color:#fff;
}